@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap');

/* Generic styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* html tags styles */
body {
    background-image: url("../imagens/Fundo.jpg");
    background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-color: #121214;
}
 
body * {
    font-family:'Inter', sans-serif;
}

main {
    max-width: 580px;
    width: 90%;
    margin: auto;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

section {
    color: #fff;
    line-height: 160%;
}

section h2 {
    letter-spacing: -0.47px;
}

section p {
    letter-spacing: -0.18px;
    color: #A1A1AA;
}